body {
    font-family: sans-serif;
    background-color: #f4f4f4;
    padding: 40px;
}

h1 {
    text-align: center;
    margin-top: 40px;
}

article {
    padding: 10px;
    background-color: azure;
}

section {
    margin-top: 60px;
}

h2 {
    margin-top: 20px;
    color: #333;
}

.item {
    background-color: #4f46e5;
    color: white;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    border-radius: 6px;
}

.item:hover {
    background-color: aqua;
}

.contenedor-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-around;
    align-items: center;
    background-color: #e0e7ff;
    padding: 20px;
    border-radius: 10px;
}

.flexbox-ejemplo1 .contenedor-flex {
    flex-direction: column;
}

.flexbox-ejemplo2 .contenedor-flex {
    flex-direction: column-reverse;
}

.flexbox-ejemplo3 .contenedor-flex {
    flex-direction: row;
}

.flexbox-ejemplo4 .contenedor-flex {
    flex-direction: row-reverse;
}

.flexbox-ejemplo5 .contenedor-flex {
    justify-content: space-between;
}

.flexbox-ejemplo6 .contenedor-flex {
    justify-content: space-around;
}

.flexbox-ejemplo7 .contenedor-flex {
    justify-content: flex-start;
}

.flexbox-ejemplo8 .contenedor-flex {
    justify-content: flex-end;
}

.flexbox-ejemplo9 .contenedor-flex {
    justify-content: center;
}

.flexbox-ejemplo10 {
    .contenedor-flex {
        height: 600px;
    }
}

.flexbox-ejemplo10 .contenedor-flex {
    flex-direction: column;
    justify-content: flex-end;
}

img {
    max-width: 100px;
    border-radius: 10px;
}

.contenedor-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    background-color: #e0e7ff;
    padding: 20px;
    border-radius: 10px;
}

